{% extends "FrontBundle::page.html.twig" %}

{% block content %}
<div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">三方订单号:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="三方订单号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
					
					<div class="layui-inline">
                        <label class="layui-form-label">平台订单号:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="平台订单号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
					
					<div class="layui-inline">
                        <label class="layui-form-label">商户订单号:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="商户订单号" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <!--<div style="padding-bottom: 10px;align-items: center;" class="flex">
					<span>共1条数据</span>
                    <button class="layui-btn layuiadmin-btn-list btn_prepare" data-id="0">添加</button>
                </div>-->
                <table class="model">
                    <tr>
                        <td>编号</td>
                        <td>三方订单</td>
                        <td>平台订单</td>
                        <td>商户订单</td>
                        <td>金额</td>
                        <td>三方费率</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                    </tr>
                </table>

                <div class="Page flex mt15" style="align-items: center; justify-content: space-between;">
                    <nav class="pagination-outer" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <div data-page="1" class="page-link" style="width: auto;">首页</div>
                            </li>
                            <li class="page-item">
                                <div data-page="0" class="page-link" style="width: auto;">上一页</div>
                            </li>
                            <li class="page-item active">
                                <div class="page-link" data-page="1">1</div>
                            </li>
                            <li class="page-item">
                                <div class="page-link" data-page="2">2</div>
                            </li>

                            <li class="page-item">
                                <div class="page-link" data-page="2" style="width: auto;">下一页</div>
                            </li>
                            <li class="page-item">
                                <div class="page-link" data-page="12" style="width: auto;">尾页</div>
                            </li>
                        </ul>
                    </nav>
                </div>

                </script>
            </div>
        </div>
		
		<script>
		$(document).ready(function(){
			prepare_dialog();
		});
		
		</script>
{% endblock %}