/*头部样式*/
.out-head{background: url(../images/head.png?v=1) no-repeat center;height: 170px;
	    width: 1920px;position: fixed;top:0;left: 50%;margin-left: -960px;z-index: 99999;overflow: hidden;}
.head{width: 1200px;margin:0 auto;}
.head a:hover{color:#70e8a8;}
.logo{float:left;padding-top:12px;}
.k3{float:left;color:#666666;font-size:14px;line-height:32px;}

.kk{text-align: right;}
.top{}
.k1{font:400 14px/32px "微软雅黑";color:#666;}
.k1 a{color:#666;}





.topLink{width:400px;float:right;text-align:right;position: relative;z-index: 9999;}
.translate{width:100px;position: absolute;left: 0;top:10px;z-index: 9999;}
.tran-in{left:120px;}
.translate li{border: 1px dashed #cccccc;line-height: 26px;text-align: left;background: #fff;}
.translate li a{display: block;padding-left: 10px;background: url(../images/dot4.png?v=1) no-repeat 88% 11px;}
.translate li a:hover{text-decoration: none;color:#275cea;cursor: pointer;}
.translate-en{display: none;padding: 6px;padding-top:0px;}
.translate li .translate-en a{padding-left: 0px;text-align: center;background: #fff;border-bottom: 1px solid #cccccc;}
.translate li .translate-en a:hover{font-weight: bold;}



/*热门搜索*/
.out-ss{background: url(../images/ss.png?v=1) no-repeat center;height: 61px;}
.search{text-align:left;width: 1200px;margin:0 auto;}
#formsearch{width:300px;float:right;height: 28px;background: url(../images/ss1.jpg) no-repeat;margin-top: 10px;margin-right: 26px;}
.hotSearch{float:left;font:600 14px/35px "微软雅黑";color:#fff;margin-top:10px;}
.hotSearch a{font:400 12px/35px "微软雅黑";color:#fff;}

#search-type{float: left;width:100px;height: 24px;border: 1px solid #c8c8c8;margin-right: 5px;}



/*模拟select弹出框*/
.searchs {position:relative;
    display: inline-block;z-index:99999;
    float: left;width:100px;border: 1px solid #c8c8c8;margin-right: 5px;line-height:22px;text-align:center;color:#000;height:22px;
}
.option_g {
    display: none;border: 1px solid #c8c8c8;border-top:none;background:#fff;
}

.option_g li{color:#fff;font-size:12px;line-height:22px;color:#000;}
.option_g li:hover{background:#3480ce;color:#fff;}





/*产品中心*/
.c1{width:1200px;margin:0 auto;margin-top:45px;}
.c1tt{color:#939393;font-size:36px;font-weight:bold;text-align:center;text-transform:uppercase;}
.zwtt{color:#178a3d;font-size:48px;font-weight:normal;text-align:center;background:url(../images/xs.png?v=1) no-repeat center;}
.cps{width:270px;float:left;margin-top:30px;}
.cptt{color:#ffffff;font-size:24px;background-color:#178a3d;line-height:76px;font-weight:normal;text-align:center;letter-spacing:1em;}
.sortt{width:268px;border:1px solid #178a3d;height:575px;overflow:hidden;margin-top:1px; }
.sortt li{line-height:44px;border-bottom: 1px solid #178a3d;color:#666666;font-size:18px;}
.sortt li a{color:#666666;font-size:18px;padding-left:48px;}
.sortt li:hover{background:#178a3d;}
.sortt li:hover a{color:#ffffff;}
.dh{display:block;margin-top:10px;color:#178a3d;font-size:16px;margin-left:25px;}

.animation,
.Ipro-list>li .Ipro-box2,
.Header-wrapper .container-header .logo img
{-moz-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;-webkit-transition: all 0.4s ease-out;transition: all 0.4s ease-out;}

.Ipro-list{overflow:hidden;width:910px;float:right;margin-top:30px;}
.Ipro-list>li{width:298px;height:332px;text-align:center;float:left;overflow:hidden;margin-right: 8px;position: relative;margin-bottom: 12px;}
.Ipro-list>li:nth-child(3n){float: right;margin-right: 0;}
.Ipro-list>li h3{text-align: center;font:400 16px/53px "微软雅黑";color:#666;}
.Ipro-list>li:hover  h3{color:#70e8a8;}
.Ipro-list>li .Ipro-box{display:block;}
.Ipro-box>img{width:298px;height:280px;}
.Ipro-list>li .Ipro-box2{width:100%;height:100%;position:absolute;}
.Ipro-box2 .IproB2-img{float:left;width:298px;padding-top:5px;text-align:center;}
.Ipro-box2 .IproB2-block{float:left;color:#fff;padding-top:40px;text-align:center;position:relative;width: 298px;}
.IproB2-block ul.p-list{width:298px;margin:16px 0;}
.IproB2-block ul.p-list li a{font-size:18px;line-height:18px;border-color:#fff;}
.IproB2-1{background:url(../images/pp.png?v=1) no-repeat;width:298px;height:280px;}

.Ipro-list>li .Ipro-box2.IproB2-1,
.Ipro-list>li .Ipro-box2.IproB2-2{top:0px;left:-400px;}
.Ipro-list>li .Ipro-box2.IproB2-3{top:0px;left:-400px;}
.Ipro-list>li .Ipro-box2.IproB2-4{top:0px;right:-100%;}
.Ipro-list>li:hover .Ipro-box2.IproB2-1,
.Ipro-list>li:hover .Ipro-box2.IproB2-2{top:0px;left:0px;}
.Ipro-list>li:hover .Ipro-box2.IproB2-3{top:0px;left:0px;}
.Ipro-list>li:hover .Ipro-box2.IproB2-4{top:0px;right:0px;}

.c12{float: right;text-align: center;}
.c12 a{font:400 16px/53px "微软雅黑";color:#666;}
.cc13{font:400 16px/53px "微软雅黑";color:#666;}




.heng{width: 1920px;position: relative;left: 50%;margin-left: -960px;margin-top: 50px;z-index: 9999;}
.c2{width: 1920px;position: relative;left: 50%;margin-left: -960px;height:720px;background-color: rgb(244, 244, 244);position: relative;z-index: 999}
.c23{width: 1200px;margin:0 auto;}
.c24{background: url(../images/63uo.png?v=1) no-repeat center;height: 65px;text-align: center;
    color: rgb(102, 102, 102);
    font-family: 微软雅黑;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 56px;
    font-weight: 600;}
.c25{color: rgb(102, 102, 102);text-align: center;line-height: 38px;}

.c26{background: url(../images/c2.png?v=1) no-repeat center top;height: 430px;width: 1200px;margin: 0 auto;margin-top: 30px;}
.w1200{width: 1200px;margin: 0 auto;}
.in_about{display: table;}
.imgg1{width: 560px;float: left;background: url(../images/1.png?v=1) no-repeat; height: 170px;margin-top: 30px;}
.imgg2{width: 560px;float: left;background: url(../images/3.png?v=1) no-repeat; height: 170px;margin-top: 30px;}
.imgg3{width: 560px;float: left;background: url(../images/5.png?v=1) no-repeat; height: 170px;margin-top: 30px;}
.in_about_r1{float:right; width: 560px;background: url(../images/2.png?v=1) no-repeat; height: 170px;margin-top: 30px;}
.in_about_r2{float:right; width: 560px;background: url(../images/4.png?v=1) no-repeat; height: 170px;margin-top: 30px;}
.in_about_r3{float:right; width: 560px;background: url(../images/6.png?v=1) no-repeat; height: 170px;margin-top: 30px;}

.c2-aa{width: 360px;height: 106px;overflow: hidden;margin-top: 32px;margin-left: 164px;}
.c2a{width: 360px;font:400 16px/36px "微软雅黑";color:#fff;}
.c2b{font:400 12px/23px "微软雅黑";color:#fff;}

.c3{width: 1200px;margin:0 auto;margin-top: 16px;}
.c3-title{background: url(../images/c3.png?v=1) no-repeat center;height: 55px;text-align: center;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 82px;
	color: rgb(112, 232, 168);}
.c3a{width: 276px;height: 352px;overflow: hidden;float: left;margin-top: 46px;}
.c3b{width: 885px;float: right;margin-top: 46px;}
.c3bb{font-family: 微软雅黑;
    font-size: 20px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    padding-top: 30px;
background:url(../images/xx.png?v=1) no-repeat left bottom;line-height:50px;}

.c3bc{font-family: 微软雅黑;
    font-size: 13px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    padding-top: 20px;
line-height: 26px;
padding-left: 18px;}

.c3bd{padding-top: 20px;}




.c4{background: url(../images/c4.png?v=1) no-repeat center;height: 626px;overflow: hidden;margin-top: 66px;}
.c44{width: 1200px;margin:0 auto;padding-top: 88px;}
.c4-title{background: url(../images/c44.png?v=1) no-repeat center;height: 55px;text-align: center;
	font-family: "å¾®è½¯é›…é»‘";
	font-size: 18px;
	line-height: 82px;
	color: rgb(112, 232, 168);}

.pre-left{cursor:pointer;_display:inline;background: url(../images/1_ir9y.png?v=1) no-repeat;width: 32px;height: 60px;position: absolute;left: -32px;top: 140px;}
.pre-left:hover{background: url(../images/11.png?v=1) no-repeat;}
.pre-right{cursor:pointer;background: url(../images/2_gksc.png?v=1) no-repeat;width: 32px;height: 60px;position: absolute;right: -32px;top: 140px;}
.pre-right:hover{background: url(../images/22.png?v=1) no-repeat;}
.products{width:1200px;margin:0 auto;padding-top:36px;position: relative;}
.products .content li{float:left;margin-right: 30px;}
.products .content img{width:204px;height:200px;border:1px solid #cbcbcb;}
.products .content{width:1200px;overflow:hidden;}
.prolist{width:20000px;}
.neirong{font:400 12px/16px "微软雅黑";color:#999;}

.products .content img:hover{border-color:#01a13b}



.c5{width:1200px;margin:0 auto;margin-top:60px;}
.xxs{width:1200px;margin:0 auto;margin-top:55px;background:url(../images/xw.png?v=1) no-repeat center top;height:359px;overflow: hidden;}
.wen1{width:500px;float:left;}
.wtt1{background:url(../images/w1.png?v=1) no-repeat left center;height:46px;color:#ffffff;font-size:18px;font-weight:normal;padding-left:25px;line-height:46px;position:relative;}
.wtt1 a{position:absolute;color:#6e6e6e;font-size:14px;right:5px;top:2px;}
.news_list3{display:block;margin-top:22px;}
.news_list3 li{width:500px;overflow: hidden;height:114px;margin:0 auto;margin-bottom:22px}
.newtp{float:left;width:162px;}
.newtp a.img img{width:162px;height:114px;}

.news_nr{width:310px;float:right;}
.news_nr a{color:#6e6e6e;font-size:16px;font-weight:bold}
.news_nr p{color:#6e6e6e;font-size:14px;line-height:21px;display:block;margin-top:5px;height:84px;overflow:hidden;}





.wen2{width:500px;float:right;}
.wtt2{background:url(../images/w2.png?v=1) no-repeat left center;height:46px;color:#ffffff;font-size:18px;font-weight:normal;padding-left:25px;line-height:46px;position:relative;}
.wtt2 a{position:absolute;color:#6e6e6e;font-size:14px;right:5px;top:2px;}







/*主体样式*/
#container{width:1200px;margin:0 auto;margin-top:10px;}
.menu_cate{width:220px;float:left;}
.cate_title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.about{width:460px;float:left;margin-left:12px;padding-bottom:5px;}
.about_title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.about .content{padding:5px;padding-bottom:12px;text-indent:20px;}
.navigation{float:right;width:100px;}

.index-title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.index-table td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:10px 5px;}
.index-table{border:solid #add9c0; border-width:1px 0px 0px 1px;margin-top:10px;}

/*----- Common css ------*/
.fl{float:left;}
.fr{float:right;}
.di{_display:inline;}
.fwn{font-weight:normal;}
.dib{*display:inline;_zoom:1;_display:inline;_font-size:0px;}

/*首页新闻*/
.news_company{width:280px;float:right;}
.news1_title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.news_company .content{padding:5px;}

/*首页左侧联系我们*/
.contact{width:218px;float:left;padding-bottom:5px;margin-top:10px;}
.contact_title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.contact .content{padding:5px;padding-left:8px;}

/*工程案例*/
.case{width:460px;float:left;margin-left:12px;padding-bottom:5px;margin-top:10px;}
.case_title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.case .content{padding:5px;padding-bottom:12px;text-indent:20px;}

.news2_company{margin-top:10px;}

/*产品推荐*/
.recommend_product{margin-top:10px;width:692px;float:left;}
.recommend_product .title{line-height:31px;padding-left:15px;font-weight:bold;font-family:"微软雅黑";
background:url(../images/nav.png?v=1) no-repeat 0% 100%;font-size:14px;color:#000;}
.recommend_product .content{padding-top:15px;padding-bottom:14px;}
.roll_product li{padding-bottom:0px;}




/*友情链接*/
.f_link{width:1200px;margin:0 auto;margin-top:25px;line-height:30px;color:#484848;font-size:16px;}

/*页面底部*/
.ff{width:1920px;position:relative;left:50%;margin-left:-960px;background:url(../images/ff.png?v=1) no-repeat center top;height:192px;overflow:hidden;margin-top:25px;}
#footer{position:relative;width:1200px;margin:0 auto;text-align:left;margin-bottom:10px;margin-top:15px;}
#footer a{color:#ffffff;}
#footer a:hover{color:#e87518;text-decoration:none;}

.copyright{text-align:left;line-height:24px;color:#ffffff;}
.copyright a{color:#ffffff;}
.logo1{float:left;width:185px;}
.dd2{width:675px;float:left;margin-left:45px;margin-top:35px;}

.nav_foot{width:675px;text-align:left;line-height:24px;color:#ffffff;color:#ffffff;font-size:16px;border-bottom:1px solid #8cd5a6;line-height:38px;}
.nav_foot a{color:#ffffff;font-size:16px;font-weight:bold;margin-right:23px;}

.weima{width:240px;float:right;margin-top:25px;}
/*------------内页-------------------*/
.left .box{margin-bottom:10px;}
.left .box h3{line-height:46px;font-weight:400;font-family:"微软雅黑";font-size:16px;color:#fff;text-align: center;
border-bottom: 1px dashed #fff;width: 215px;margin:0 auto;}
.left .box .content{padding:5px 0px;}

.prodescription{border:1px solid #e5e5e5;background:#f9f9f9;line-height:24px;padding:10px;margin-bottom:15px;text-indent:20px;}

.n_banner{width:1920px;position:relative;left:50%;margin-left:-960px;}
.n_banner img{width:1920px;margin:0 auto}

.left{width:240px;float:left;background:#178a3d;border-radius: 20px;}
.sort_menu{}
.sort_menu h3{}
.sort_product{margin-top:10px;}
.sort_product h3{}

.n_contact{margin-top:10px;}
.n_contact h3{}
.n_contact .content{padding:5px;line-height:24px;color:#fff;}

.right{width:938px;float:right;padding-bottom:10px;}
.sitemp{line-height:48px;height:48px;overflow:hidden;padding-right:10px;background:url(../images/nei.png?v=1) repeat-x 0 100%;}
.sitemp h2{width:340px;float:left;line-height:48px;text-align:center;text-align:left;text-indent:0px;color:#000;font-size:14px;}
.sitemp .site{width:380px;float:right;text-align:right;line-height:48px;}
.right .content{padding-top:15px;overflow:hidden;line-height: 24px;}



.sun_gcal{background: #fff; width:1200px;margin:0 auto;padding: 50px 0;}
.sun_gcal .gcal_lli{margin-top: 35px;}
.sun_gcal .gcal_lli li{float: left; margin: 0 9px 9px 0; position: relative;}
.sun_gcal .gcal_lli li .img{display: block; width: 293px; height: 275px;}
.sun_gcal .gcal_lli li .img img{width: 100%; height: 100%;}
.sun_gcal .gcal_lli li:first-child .img,
.sun_gcal .gcal_lli li:last-child .img{display: block; width: 595px; height: 275px;}
.sun_gcal .gcal_lli li:nth-of-type(3n){margin-right: 0;}
.sun_gcal .gcal_lli li h3{position: absolute; width: 100%; bottom: 0; left: 0; font-size: 16px; color: #fff; line-height: 50px; background: rgba(18, 126, 61, 0.5); text-align: center; transform: scale(1, 0.1); opacity: 0; transition: all .35s ease;}
.sun_gcal .gcal_lli li:hover h3{transform: translate(0, 0) scale(1); opacity: 1;}