{% extends "FrontBundle::page.html.twig" %}

{% block content %}
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">快捷操作</div>
              <div class="layui-card-body">
                
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-console"></i><cite>订单统计</cite></a></li>
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-chart"></i><cite>代收订单</cite></a></li>
					  <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-template-1"></i><cite>代付订单</cite></a></li>
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-chat"></i><cite>渠道管理</cite></a></li>
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-find-fill"></i><cite>商户</cite></a></li>
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-survey"></i><cite>代理</cite></a></li>
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-user"></i><cite>下发-提现</cite></a></li>
                      <li class="layui-col-xs3"><a lay-href="#"><i class="layui-icon layui-icon-set"></i><cite>下发-充值</cite></a></li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">统计数据</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                          <h3>代收</h3>
                          <p><cite>-</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                          <h3>代付</h3>
                          <p><cite>-</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="template/goodslist.html" class="layadmin-backlog-body">
                          <h3>下发提现</h3>
                          <p><cite>-</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                          <h3>下发充值</h3>
                          <p><cite>-</cite></p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body">
                
                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                  <div carousel-item id="LAY-index-dataview">
                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                  </div>
                </div>
                
              </div>
            </div>

          </div>
        </div>
		
		
		
		<script>
  layui.config({
    base: '{{ asset('ui_core') }}/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script>
  
{% endblock %}